@model int?

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<input type="hidden" value=@Model id="ID" />
<div id="studentDetails">
   
</div>

<div>
    <a asp-action="Edit" asp-route-id=@Model>Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/student/student.details.js"></script>